<!-- Header End -->
<main id="main" class="genres-main">
    <section class="iq-genres-section">
       <div class="container-fluid">
          <div class="iq-main-header d-flex align-items-center justify-content-between mt-5 mt-lg-0">
             <h4 class="main-title">Géneros de Películas</h4>
          </div>
          <ul class=" row list-inline  mb-0 iq-rtl-direction iq_genres-contents">

            <ng-container *ngFor="let GENRE_M of GENRE_MOVIE">
                <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                   <div class="block-images position-relative  watchlist-first">
                      <div class="img-box">
                         <img [src]="GENRE_M.imagen" class="img-fluid" loading="lazy" alt="">
                      </div>
                      <div class="block-description d-flex justify-content-center flex-column text-center">
                         <h6 class="iq-title"><a href="#" onclick="return false;" (click)="filterGenres(GENRE_M.id,1)">{{ GENRE_M.title }}</a></h6>
                      </div>
                   </div>
                </li>
            </ng-container>
            
             
          </ul>
          
       </div>
    </section>

    <section id="iq-favorites" *ngIf="GENRE_MOVIE_STREAMINGS.length > 0">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12 overflow-hidden">
                 <div class="d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Últimas Películas agregadas</h4>
                 </div>
              </div>
           </div>
           <!-- Swiper -->
           <div class="favourite-slider">
              <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
                 <ul class="swiper-wrapper p-0 m-0 ">
 
                   <ng-container *ngFor="let MOVIE of GENRE_MOVIE_STREAMINGS">
                      <li class="swiper-slide slide-item">
                         <div class="block-images position-relative " >
                            <div class="img-box">
                               <img [src]="MOVIE.imagen" class="img-fluid" style="height: 233px;
                               width: 414px;
                               object-fit: cover;" alt="" loading="lazy">
                            </div>
                            <div class="block-description">
                               <h6 class="iq-title"><a href="#" [href]="'/movie/ver-pelicula/'+MOVIE.slug" >{{ MOVIE.title }}</a></h6>
                               <div class="movie-time d-flex align-items-center my-2">
                                  <span class="text-white">{{ MOVIE.cal_total_time }}</span>
                               </div>
                               <div class="hover-buttons">
                                  <a href="#" [href]="'/movie/ver-pelicula/'+MOVIE.slug"  role="button" class="btn btn-hover"><i
                                     class="fa fa-play mr-1" aria-hidden="true"></i>
                                 Ver ahora
                                  </a>
                               </div>
                            </div>
                            <div class="block-social-info">
                               <ul class="list-inline p-0 m-0 music-play-lists">
                                  <li class="share">
                                     <span><i class="ri-share-fill"></i></span>
                                     <div class="share-box">
                                        <div class="d-flex align-items-center">
                                           <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                              target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                              class="ri-facebook-fill"></i></a>
                                           <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                              target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                              class="ri-twitter-fill"></i></a>
                                    
                                        </div>
                                     </div>
                                  </li>
                                
                               </ul>
                            </div>
                         </div>
                      </li>
                   </ng-container>
                   
                    
                 </ul>
                 <div class="swiper-button-prev"></div>
                 <div class="swiper-button-next"></div>
              </div>
           </div>
        </div>
    </section>

    <section class="iq-genres-section">
       <div class="container-fluid">
          <div class="iq-main-header d-flex align-items-center justify-content-between">
             <h4 class="main-title">Géneros de Serie</h4>
          </div>
          <ul class=" row list-inline  mb-0 iq-rtl-direction iq_genres-contents">

              <ng-container *ngFor="let GENRE_T of GENRE_TV_SHOW">
                <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                   <div class="block-images position-relative  watchlist-first">
                      <div class="img-box">
                         <img [src]="GENRE_T.imagen" class="img-fluid" loading="lazy" alt="">
                      </div>
                      <div class="block-description d-flex justify-content-center flex-column text-center">
                         <h6 class="iq-title"><a href="#" onclick="return false;" (click)="filterGenres(GENRE_T.id,2)">{{ GENRE_T.title }}</a></h6>
                      </div>
                   </div>
                </li>
            </ng-container>
             
          </ul>
          
       </div>
    </section>

    <section id="iq-favorites" *ngIf="GENRE_TV_SHOW_STREAMINGS.length > 0">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12 overflow-hidden">
                 <div class="d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Últimas Series agregadas</h4>
                   
                 </div>
              </div>
           </div>
           <!-- Swiper -->
           <div class="favourite-slider">
              <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
                 <ul class="swiper-wrapper p-0 m-0 ">
 
                   <ng-container *ngFor="let MOVIE of GENRE_TV_SHOW_STREAMINGS">
                      <li class="swiper-slide slide-item">
                         <div class="block-images position-relative " >
                            <div class="img-box">
                               <img [src]="MOVIE.imagen" class="img-fluid" style="height: 233px;
                               width: 414px;
                               object-fit: cover;" alt="" loading="lazy">
                            </div>
                            <div class="block-description">
                               <h6 class="iq-title"><a href="#" [href]="'/tv-show/ver-series/'+MOVIE.slug" >{{ MOVIE.title }}</a></h6>
                               <div class="movie-time d-flex align-items-center my-2">
                                  <span class="text-white">{{ MOVIE.cal_total_time }}</span>
                               </div>
                               <div class="hover-buttons">
                                  <a href="#" [href]="'/tv-show/ver-series/'+MOVIE.slug"  role="button" class="btn btn-hover"><i
                                     class="fa fa-play mr-1" aria-hidden="true"></i>
                                 Ver ahora
                                  </a>
                               </div>
                            </div>
                            <div class="block-social-info">
                               <ul class="list-inline p-0 m-0 music-play-lists">
                                  <li class="share">
                                     <span><i class="ri-share-fill"></i></span>
                                     <div class="share-box">
                                        <div class="d-flex align-items-center">
                                           <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                              target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                              class="ri-facebook-fill"></i></a>
                                           <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                              target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                              class="ri-twitter-fill"></i></a>
                                         
                                        </div>
                                     </div>
                                  </li>
                                 
                               </ul>
                            </div>
                         </div>
                      </li>
                   </ng-container>
                   
                    
                 </ul>
                 <div class="swiper-button-prev"></div>
                 <div class="swiper-button-next"></div>
              </div>
           </div>
        </div>
    </section>

    <section class="iq-genres-section">
       <div class="container-fluid">
          <div class="iq-main-header d-flex align-items-center justify-content-between">
             <h4 class="main-title">Género de Videos</h4>
          </div>
          <ul class=" row list-inline  mb-0 iq-rtl-direction iq_genres-contents">
            <ng-container *ngFor="let GENRE_V of GENRE_VIDEO">
                <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                   <div class="block-images position-relative  watchlist-first">
                      <div class="img-box">
                         <img [src]="GENRE_V.imagen" class="img-fluid" loading="lazy" alt="">
                      </div>
                      <div class="block-description d-flex justify-content-center flex-column text-center">
                         <h6 class="iq-title"><a href="#" onclick="return false;" (click)="filterGenres(GENRE_V.id,3)">{{ GENRE_V.title }}</a></h6>
                      </div>
                   </div>
                </li>
            </ng-container>
          </ul>
          
       </div>
    </section>

    <section id="iq-favorites" *ngIf="GENRE_VIDEO_STREAMINGS.length > 0">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12 overflow-hidden">
                 <div class="d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Últimos Videos agregados</h4>
                   
                 </div>
              </div>
           </div>
           <!-- Swiper -->
           <div class="favourite-slider">
              <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
                 <ul class="swiper-wrapper p-0 m-0 ">
 
                   <ng-container *ngFor="let MOVIE of GENRE_VIDEO_STREAMINGS">
                      <li class="swiper-slide slide-item">
                         <div class="block-images position-relative " >
                            <div class="img-box">
                               <img [src]="MOVIE.imagen" class="img-fluid" style="height: 233px;
                               width: 414px;
                               object-fit: cover;" alt="" loading="lazy">
                            </div>
                            <div class="block-description">
                               <h6 class="iq-title"><a href="#" [href]="'/video/ver-video/'+MOVIE.slug" >{{ MOVIE.title }}</a></h6>
                               <div class="movie-time d-flex align-items-center my-2">
                                  <span class="text-white">{{ MOVIE.cal_total_time }}</span>
                               </div>
                               <div class="hover-buttons">
                                  <a href="#" [href]="'/video/ver-video/'+MOVIE.slug"  role="button" class="btn btn-hover"><i
                                     class="fa fa-play mr-1" aria-hidden="true"></i>
                                 Ver ahora
                                  </a>
                               </div>
                            </div>
                            <div class="block-social-info">
                               <ul class="list-inline p-0 m-0 music-play-lists">
                                  <li class="share">
                                     <span><i class="ri-share-fill"></i></span>
                                     <div class="share-box">
                                        <div class="d-flex align-items-center">
                                           <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                              target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                              class="ri-facebook-fill"></i></a>
                                           <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                              target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                              class="ri-twitter-fill"></i></a>
                                           
                                        </div>
                                     </div>
                                  </li>
                               
                               </ul>
                            </div>
                         </div>
                      </li>
                   </ng-container>
                   
                    
                 </ul>
                 <div class="swiper-button-prev"></div>
                 <div class="swiper-button-next"></div>
              </div>
           </div>
        </div>
    </section>

 </main>
 <div class="rtl-box">
    <button type="button" id="flip"  class="btn btn-light rtl-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 20 20" fill="white">
          <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
          </svg>
    </button>
    <div class="rtl-panel" id="panel">
       <ul class="modes">
          <li class="dir-btn"  data-mode="rtl" data-active="false" data-value="ltr"><a href="#">Derecha</a></li>
          <li class="dir-btn" data-mode="rtl" data-active="true"   data-value="rtl"><a href="#">Izquierda</a></li>
       </ul>
    </div>
 </div>