<!-- MainContent -->
<section class="sign-in-page" [ngClass]="{'d-block': !SigInUp,'d-none': SigInUp}">
    <div class="container">
       <div class="row justify-content-center align-items-center height-self-center">
          <div class="col-lg-5 col-md-12 align-self-center">
             <div class="sign-user_card ">                    
                <div class="sign-in-page-data">
                   <div class="sign-in-from w-100 m-auto">
                      <h3 class="mb-3 text-center">Inicio de Sesión</h3>
                      <form class="mt-4" action="#">
                         <div class="form-group">                                 
                            <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Ingrese su email" [(ngModel)]="email" name="email" autocomplete="off" required>
                         </div>
                         <div class="form-group">                                 
                            <input type="password" class="form-control mb-0" id="exampleInputPassword2" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
                         </div>
                         
                            <div class="sign-info">
                               <button type="button" (click)="login()" class="btn btn-hover">Iniciar Sesión</button>
                               <!-- <div class="custom-control custom-checkbox d-inline-block">
                                  <input type="checkbox" class="custom-control-input" id="customCheck">
                                  <label class="custom-control-label ml-3" for="customCheck">Remember Me</label>
                               </div>                                 -->
                            </div>                                    
                         
                      </form>
                   </div>
                </div>
                <div class="mt-3">
                   <div class="d-flex justify-content-center links">
                     ¿No tienes cuenta? <a href="/auth/registro" class="text-primary ml-2">Regístrate</a>
                   </div>
                   <div class="d-flex justify-content-center links">
                    
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- MainContent End-->

  <!-- Main container  -->  
  <main id="main" class="site-main"  [ngClass]="{'d-block': SigInUp,'d-none': !SigInUp}">
   <div class="container">
      <div class="row">
      <div class="col-lg-12 col-sm-12">
         <div class="iq-pricing-card">
            <div class="table-responsive iq-pricing pt-2">
                  <table id="my-table" class="table" data-active="premium">
                     <thead>
                        <tr>
                              <th class="text-center iq-price-head">
                              </th>
                              <ng-container *ngFor="let PLAN of PLANS">

                                  <th class="text-center iq-price-head premium" *ngIf="PLAN.name == 'PREMIUM'">
                                     <div class="iq-price-box active">
                                        <div class="iq-price-rate text-white  d-flex align-items-end justify-content-center flex-wrap" >
                                           <div class="mr-2 h3">${{ PLAN.precio_mensual }}</div><small> / Mes</small></div>
                                           <div class="iq-price-rate text-white  d-flex align-items-end justify-content-center flex-wrap" >
                                               <div class="mr-2 h3">${{ PLAN.precio_anual }}</div><small> / Anual</small></div>
                                        <span class="type">{{ PLAN.name }}</span>
                                     </div>
                                  </th>

                                  <th class="text-center iq-price-head basic" *ngIf="PLAN.name != 'PREMIUM'">
                                     <div class="iq-price-box">
                                        <div class="iq-price-rate text-white d-flex align-items-end justify-content-center flex-wrap" >
                                           <div class="mr-2 h3">${{ PLAN.precio_mensual }}</div>
                                           <small> / Mes</small></div>
                                       <div class="iq-price-rate text-white d-flex align-items-end justify-content-center flex-wrap" >
                                               <div class="mr-2 h3">${{ PLAN.precio_anual }}</div>
                                               <small> / Anual</small></div>
                                        <span class="type">{{ PLAN.name }}</span>
                                     </div>
                                  </th>

                              </ng-container>
                              
                           </tr>
                     </thead>
                     <tbody>                
                        <tr>
                           <th class="text-center" scope="row">Prueba gratuita</th>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-times-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell active">
                              <i class="fa fa-check-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-times-circle"></i>
                           </td>
                        </tr>
                        <tr>
                           <th class="text-center" scope="row">Películas</th>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-times-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell active">
                              <i class="fa fa-check-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-check-circle"></i>
                           </td>
                        </tr>
                        <tr>
                           <th class="text-center" scope="row">Series</th>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-times-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell active">
                              <i class="fa fa-check-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-check-circle"></i>
                           </td>
                        </tr>
                        <tr>
                           <th class="text-center" scope="row">Videos</th>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-times-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell active">
                              <i class="fa fa-check-circle"></i>
                           </td>
                           <td class="text-center iq-child-cell">
                              <i class="fa fa-check-circle"></i>
                           </td>
                        </tr>
                       
                        <tr>
                           <th class="text-center iq-price-footer"></th>

                           <ng-container *ngFor="let PLAN of PLANS">
                               <td class="text-center iq-price-footer" [ngClass]="{'active': PLAN.name == 'PREMIUM'}">
                                  <div class="align-items-center d-flex r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.3">
                                     <a href="#" onclick="return false;" (click)="selectedPlanMonth(PLAN)" class="btn btn-hover iq-button mx-1">Subs. MENSUAL</a>
                                     <a href="#" onclick="return false;" (click)="selectedPlanAnual(PLAN)" class="btn btn-hover iq-button mx-1">Subs. ANUAL</a>
                                  </div>
                               </td>
                           </ng-container>
                           
                           
                        </tr>
                        <tr>
                           <th class="text-center iq-price-footer"></th>
                           <td class="text-center iq-price-footer">
                               
                           </td>
                           <td class="text-center iq-price-footer active">
                               <div #paypal ></div>
                           </td>
                           <td class="text-center iq-price-footer">
                              
                           </td>
                        </tr>
                     </tbody>
                  </table>
            </div>
            </div>
         </div>
      </div>   
   </div>
</main>
  <!-- Main container end -->
